#headmenu {
    display: none;
    margin: 0px;
    background-color: white;
    border-bottom: 1px grey solid;
  }
  li {
    margin: 10px;
  }
  #kiki {
    position: relative;
    left: 50px;
  }
  #navbar {
    display: inline-block;
    position: relative;
    top: 50px;
    width: 250px;
    margin-left: 4%;
    z-index: 1;
  }
  #carousel {
    margin: 1% 6% auto 40px;
    height: 40vw;
    display: inline-block;
    position: absolute;
    top: 3%;
    overflow: hidden;
  }

  #carousel-pic {
    height: 95%;
  }
  .pic {
    transition: 0.5s;
  }
  #cp1 {
    width: 100%;
    height: 100%;
  }
  #cp2 {
    height: 95%;
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
  }
  #cp3 {
    height: 95%;
    width: 100%;
    position: absolute;
    left: 200%;
    top: 0;
  }
  .indicators {
    height: 2vw;
    text-align: center;
  }
  .dot {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    cursor: pointer;
    background: lightblue;
    display: inline-block;
    margin: 1vw 8px;
  }
  #button1 {
    background: midnightblue;
  }
  .dot:hover {
    background-color: MidnightBlue;
  }
  #colorboxes {
    text-align: center;
    margin-left: calc(4% + 290px);
    position: absolute;
    top: calc(3% + 40vw + 3%);
    margin-right: 6%;
    right: 0;
  }
  .cl {
    display: inline-block;
    width: 20vw;
    height: 20vw;
    background-color: purple;
    margin: 1vw;
  }
  .cl:nth-of-type(2n + 1) {
    background-color: blue;
  }
  @media only screen and (max-width: 760px) {
    #headmenu {
      display: block;
      position: fixed;
      z-index: 1;
    }
    #hamburger {
      display: inline-block;
      width: 50px;
      height: 50px;
      background: rgb(80, 229, 235);
      cursor: pointer;
    }
    #navbar {
      position: fixed;
      bottom: 0px;
      width: 0;
      overflow: hidden;
      background-color: aliceblue;
      margin: 0;
      transition: 0.2s;
    }
    #navbar::before {
      content: "目錄";
      display: block;
      margin: 10px;
    }
    #kiki {
      display: none;
    }
    #navbar ul {
      padding: 0;
    }
    #carousel {
      width: 95%;
      height: 70vw;
      top: 58px;
      left: 2.5%;
      right: 2.5%;
      margin: 0;
    }
    .indicators {
      float: right;
      left: -50%;
      position: relative;
      height: 3.5vw;
    }
    .dot {
      width: 2.5vw;
      height: 2.5vw;
      margin-top: 1vw;
      float: left;
      left: 50%;
      position: relative;
    }
    #colorboxes {
      margin: 0px;
      top: calc(70px + 70vw);
    }
    .cl {
      width: 40vw;
      height: 40vw;
      margin: 2vw;
    }
  }