#headmenu {
    display: none;
    margin: 0px;
    background-color: white;
    border-bottom: 1px grey solid;
  }
  #topDiv{
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  #rightTwo{
    text-align: center;
  }

  li {
    margin: 10px;
  }
  #kiki {
    position: relative;
    left: 50px;
  }
  #navbar {
    display: inline-block;
    position: relative;
    margin-left: 4%;
    z-index: 1;
  }
  #carousel {
    margin: 1% auto auto 6vw;
    height: 40vw;
    width: 60vw;
    display: inline-block;
     overflow: hidden; 
  }

  #carousel-pic {
    width: 180vw;
    height: 95%;
    clear: both;
  }
  .pic {
    width: 60vw;
    height: 100%;
    transition: 0.5s;
    float: left;
  }
  .indicators {
    height: 2vw;
    text-align: center;
  }
  .dot {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    cursor: pointer;
    background: lightblue;
    display: inline-block;
    margin: 1vw 8px;
  }
  #button1 {
    background: midnightblue;
  }
  .dot:hover {
    background-color: MidnightBlue;
  }
  #colorboxes {
   
    margin-left: 6vw;
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  .cl {
    display: inline-block;
    width: 13vw;
    height: 13vw;
    margin: 1vw 0;
    border: 1px solid black;
  }
  #game1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    overflow: hidden;
  }
  #ball{
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background-color: blue;
    animation: ballMove 2s 0.3s linear forwards infinite;
    position: relative;
    margin-top: 30%;
    left: 10px;
  }
  #rock{
  width: 30%;
  height: 20%;
  background-color: red;
  animation: rockMove 2s linear forwards infinite;
  position: relative;
}
  #line{
    height: 1px;
    width: 100%;
    background-color: black;
    align-self: flex-start;
  }
  @keyframes rockMove {
    0%{
      left: 100%;
    }
    100%{
      left: -100%;
    }
  }
  @keyframes ballMove {
    0%{
      bottom : 0%;
    }
    50%{
      bottom: 40%;
    }
    100%{
      bottom : 0%;
    }
  }

  #game2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: hidden;
  }
  #tLine{
    margin-top: 15%;
    height: 1px;
    width: 100%;
    background-color: black;
  }
  #tRock{
    width: 30%;
    height: 20%;
    background-color: red;
    animation: rockMove 2s linear forwards infinite;
    position: relative;
  }
  #ball2{
    margin-top: 40%;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background-color: blue;
    position: relative;
    animation: ballMove 2s 0.7s linear forwards infinite;
  }
  #bRock{
    align-self: flex-end;
    width: 30%;
    height: 20%;
    background-color: red;
    animation: rockMove 2s 0.3s linear forwards infinite;
    position: relative;
  }
  #bLine{
    height: 1px;
    width: 100%;
    background-color: black;
    
  }
  @media only screen and (max-width: 760px) {
    #topDiv{
      margin: 0px;
      display: block;
      margin-right: 2.5vw;
    }
    #rightTwo {
      margin: 0px;
    }
    #headmenu {
      display: block;
      position: fixed;
      z-index: 1;
    }
    #hamburger {
      display: inline-block;
      width: 50px;
      height: 50px;
      background: rgb(80, 229, 235);
      cursor: pointer;
    }
    #navbar {
      position: fixed;
      top: 51px;
      width: 0;
      overflow: hidden;
      background-color: aliceblue;
      margin: 0;
      transition: 0.2s;
    }
    #navbar::before {
      content: "目錄";
      display: block;
      margin: 10px;
    }
    #kiki {
      display: none;
    }
    #navbar ul {
      padding: 0;
    }
    #carousel {
      width: 95vw;
      height: 70vw;
      margin: 51px 0px auto 0px;
    }
    #carousel-pic{
      width: 285vw;
    }
    .pic {
      width: 95vw;
    }
    .indicators {
      float: right;
      left: -50%;
      position: relative;
      height: 3.5vw;
    }
    .dot {
      width: 2.5vw;
      height: 2.5vw;
      margin-top: 1vw;
      float: left;
      left: 50%;
      position: relative;
    }
    #colorboxes {
      width: 95vw;
      margin: 0 auto;
      justify-content: space-around;
    }
    .cl {
      width: 40vw;
      height: 40vw;
      margin: 2vw;
      margin-top: 3vw;
    }
  }